<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="petProject.dao.EmailcodeDAO">
    <select id="selectEmailcode" parameterType="emailcode" resultType="emailcode">
    	SELECT "EMAIL_CODE", "MEMBER_ID", "NEW_MEMBER_ID"
    	FROM "emailcode" WHERE "MEMBER_ID" = #{emailcode.memberId} AND "EMAIL_CODE" = #{emailcode.emailCode}
    </select>
    
    <insert id="insertEmailcode" parameterType="emailcode">
    	INSERT INTO "public"."emailcode" ("MEMBER_ID", "EMAIL_CODE")
    	VALUES (#{emailcode.memberId}, #{emailcode.emailCode});
    </insert>
    
    <insert id="updateEmailcode" parameterType="emailcode">
		INSERT INTO "public"."emailcode" ("MEMBER_ID", "EMAIL_CODE", "NEW_MEMBER_ID")
    	VALUES (#{emailcode.memberId}, #{emailcode.emailCode}, #{emailcode.newMemberId});
	</insert>
    
    <update id="requestEmailUpdate" parameterType="String">
    	update "member"
    	set "MEMBER_AUTH_STATUS" = 2
    	where "MEMBER_ID" = #{memberId}
    </update>
    
    <delete id="doneEmailcode" parameterType="String">
    	DELETE FROM "emailcode"
    	WHERE "EMAIL_CODE" = #{emailCode}
    </delete>
	
</mapper>