<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="petProject.dao.KindcodeDAO">
	<select id="selectKindcodeList" resultMap="kindcodeResultMap">
		select "PET_KIND",
		"PET_KIND_CODE", "PET_KIND_HABITAT" from "kindcode" 
		order by "PET_KIND_CODE" ASC 
	</select>
	
	<select id="searchPetKindList" parameterType="petSearchRequest" resultType="kindcode">
		select "PET_KIND"
		from "kindcode"
		where "PET_KIND" like CONCAT('%',#{petSearchRequest.petKindWord},'%')
		order by "PET_KIND_CODE" ASC LIMIT 8 OFFSET (#{petSearchRequest.pageNumber}-1)*8
	</select>
	
	<select id="selectKindcodeListPage" parameterType="Integer" resultMap="kindcodeResultMap">
		select "PET_KIND",
		"PET_KIND_CODE", "PET_KIND_HABITAT" from "kindcode" 
		order by "PET_KIND_CODE" ASC LIMIT 8 OFFSET #{pageNumber}
	</select>

	<select id="selectKindcode" parameterType="String" resultType="kindcode">
		select "PET_KIND", "PET_KIND_CODE", "PET_KIND_HABITAT"
		from "kindcode" where "PET_KIND_CODE" = #{petKindcode}
	</select>
	
	<select id="selectPetKind" parameterType="String" resultType="String">
		select "PET_KIND"
		from "kindcode" where "PET_KIND_CODE" = #{petKindcode}
	</select>
	
	<select id="findKindcode" parameterType="String" resultType="String">
		select "PET_KIND_CODE" from "kindcode" where "PET_KIND" = #{petKind}
	</select>
	
	<insert id="insertKindcode" parameterType="kindcode">
		INSERT INTO
		public.kindcode("PET_KIND", "PET_KIND_CODE", "PET_KIND_HABITAT") VALUES(#{petKind},
		#{petKindcode}, #{petKindHabitat});
	</insert>

	<insert id="updateKindcode" parameterType="kindcode">
		UPDATE public.kindcode
		SET "PET_KIND"= #{petKind}
		WHERE "PET_KIND_CODE"=#{petKindcode};
	</insert>

	<insert id="deleteKindcode" parameterType="kindcode">
		DELETE FROM
		public.kindcode
		WHERE "PET_KIND_CODE"=#{petKindcode};
	</insert>

	<resultMap type="kindcode" id="kindcodeResultMap">
		<id column="PET_KIND_CODE" property="petKindcode" />
		<result column="PET_KIND" property="petKind" />
		<result column="PET_KIND_HABITAT" property="petKindHabitat" />
	</resultMap>
</mapper>
