<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="petProject.dao.MemberWithdrawalDAO">

	<!-- 7일 이상 탈퇴신청을 유지한 회원의 memberNumber를 받는 쿼리 -->
	<select id="selectMemberNumberByDate" resultType="int">
		select "member"."MEMBER_NUMBER" from "member", "memberwithdrawal"
		where "member"."MEMBER_AUTH_STATUS" = 3 and extract(day from now()::timestamp - "memberwithdrawal"."MEMBER_WITHDRAWAL_DATE" ::timestamp) >= 7
	</select>
	
	<insert id="insertComment" parameterType="memberWithdrawalRequest">
		INSERT INTO "memberwithdrawal"("MEMBER_NUMBER", "MEMBER_WITHDRAWAL_COMMENT", "MEMBER_WITHDRAWAL_DATE")
		VALUES (#{memberWithdrawalRequest.memberNumber}, #{memberWithdrawalRequest.memberWithdrawalComment}, now())
	</insert>
	
	<delete id="deleteMemberWithdrawal" parameterType="int">
		DELETE FROM "memberwithdrawal"
		WHERE "MEMBER_NUMBER" = #{memberNumber}
	</delete>
</mapper>